@{
    ViewData["Title"] = "Appointments List";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Web.Areas.Admin.Models.AppointmentModels.AppointmentSearchModel

<form asp-area="Admin" asp-action="List" asp-controller="Appointment" method="post" id="searchForm">
    <div class="form-group mb-3">
        <label asp-for="SearchByProcedureName">Search by Procedure Name</label>
        <input asp-for="SearchByProcedureName" class="form-control" id="procedureNameInput"/>
    </div>
    <button type="submit" class="btn btn-primary" id="searchBtn">Search</button>
    <button type="button" class="btn btn-primary" id="clearBtn">Clear filters</button>
</form>

<table id="appointmentsTable" class="table">
    <thead>
    <tr>
        <th>User Name</th>
        <th>User Email</th>
        <th>Procedure Name</th>
        <th>Doctor Name</th>
        <th>Doctor Email</th>
        <th>Cabinet Number</th>
        <th>Date Time</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@section Scripts {
    <script>
    $(document).ready(function () {
            searchAppointments();

            $('#searchBtn').click(function (e) {
                e.preventDefault();
                searchAppointments();
            });
    });

    document.getElementById('clearBtn').addEventListener('click', function() {
        document.getElementById('procedureNameInput').value = '';
        searchAppointments();
    });
    
        function searchAppointments() {
            $.ajax({
                url: '@Url.Action("List", "Appointment")',
                type: 'POST',
                data: $('#searchForm').serialize(),
                success: function (data) {
                    $('#appointmentsTable tbody').empty();
                    $.each(data.data, function (index, item) {
                        $('#appointmentsTable tbody').append('<tr>' +
                            '<td>' + item.userName + '</td>' +
                            '<td>' + item.userEmail + '</td>' +
                            '<td>' + item.procedureName + '</td>' +
                            '<td>' + item.doctorName + '</td>' +
                            '<td>' + item.doctorEmail + '</td>' +
                            '<td>' + item.cabinetNumber + '</td>' +
                            '<td>' + item.dateTime + '</td>' +
                            '</tr>');
                    });
                }
            });
        }
</script>
}
