@{
    ViewData["Title"] = "Booking Page";
}

<div>
    <a asp-controller="Appointment" asp-action="Create">
        <button class="administration-area-box-buttons">New Booking</button>
    </a>
</div>