@{
    ViewData["Title"] = "Admin Page";
}

<div>
    <a asp-area="Admin" asp-controller="Doctor" asp-action="Index">
        <button class="administration-area-box-buttons">Doctors</button>
    </a>
</div>